html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.flex{display: flex;}

.bgWhite {background-color: white;}
.bgPrimary {background-color: rgb(87, 197, 87);}
.bgLight {background-color: wheat;}
.bgSecondary {background-color: lightgray;}
.bgSuccess {background-color: rgb(30, 176, 198);}
.bgInfo {background-color: rgb(88, 5, 130);}
.bgWarning {background-color: yellow;}
.bgDanger {background-color: rgb(255, 0, 81);}
.bgDark {background-color: black;}


.btnAqua {
  background-color: aqua;
  color:blueviolet;
}

.btnWhite{
  background-color: blueviolet;
  color:aqua;
}